---
layout: default
permalink: /
postcard-class: askew
---

%div.two-fifths.left
  %img{src: '/images/bouquet-art-2.png', alt: ''}

%div.three-fifths.right.center.invitation
  <br />
  %p.italic
    together with their parents

  %h1
    Steve
    %span.brand-color &amp;
    Amanda

  :markdown
    joyfully invite you to share in the happiness <br />
    as they unite in marriage on <br />
    Saturday the twenty-ninth of August, <br />
    two thousand fifteen <br />
    at four o’ clock in the afternoon

    A New Leaf (Event Space) <br />
    Chicago, Illinois

    *dinner and dancing to follow*

.clearfix