---
layout: page
title: Registry
fa-icon: gift
permalink: /registry/
postcard_class: askew
---

%div
  %p We have registries at the following merchants:

%div.two-fifths.left
  %p.margin-small
    %a{href: '#', target: '_blank'}
      %img{src: '/images/registry/macys.jpg', alt: 'Macys' }

  %p.margin-small
    %a{href: '#', target: '_blank'}
      %img{src: '/images/registry/crate-barrel.jpg', alt: 'Crate & Barrel' }

  %p.margin-small
    %a{href: '#', target: '_blank'}
      %img{src: '/images/registry/amazon.jpg', alt: 'Amazon' }

%div.two-fifths.right
  %img{src: '/images/bouquet-art-1.png', alt: '', width: '70%'}

.clearfix
