---
layout: page
title: Registry
fa-icon: gift
permalink: /registry/
---

%div
  %p We have registries with the following merchants:

%div.two-fifths.left
  %p.margin-small
    %a{href: 'http://www1.macys.com/registry/wedding/guest/?registryId=6333641', target: '_blank'}
      %img{src: '/images/registry/macys.jpg', alt: 'Macys' }

  %p.margin-small
    %a{href: 'http://www.crateandbarrel.com/gift-registry/steve-hunter-and-amanda-williams/r5312012', target: '_blank'}
      %img{src: '/images/registry/crate-barrel.jpg', alt: 'Crate & Barrel' }

  %p.margin-small
    %a{href: 'http://www.amazon.com/registry/wedding/3J5JUZ5FBK8NJ', target: '_blank'}
      %img{src: '/images/registry/amazon.jpg', alt: 'Amazon' }

%div.two-fifths.right
  %img{src: '/images/bouquet-art-2.png', alt: '', width: '70%'}

.clearfix
