---
layout: default
postcard-class: pane
---
<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if page.fa-glyph %}<i class="fa fa-{{ page.fa-glyph }}"></i>&nbsp;{% endif %}
      {{ page.title }}
    </h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<div class="post-footer">
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-edit"></i> <a class="prev-next-post" href="/news">Back to News</a></li>

    {% if page.previous.url %}
    <li><i class="fa-li fa fa-angle-double-left"></i>
      <a class="prev-next-post" href="{{ page.previous.url }}">Previous Post: {{ page.previous.title }}</a>
    </li>
    {% endif %}

    {% if page.next.url %}
    <li><i class="fa-li fa fa-angle-double-right"></i>
    <a class="prev-next-post" href="{{ page.next.url }}">Next Post: {{ page.next.title }} </a>
    </li>
    {% endif %}

  </ul>
 </div>