---
layout: default
postcard-class: pane
---
<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if page.fa-glyph %}<i class="fa fa-{{ page.fa-glyph }}"></i>&nbsp;{% endif %}
      {{ page.title }}
    </h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<hr style="margin: 40px 0 10px;" />

<i class="fa fa-edit"></i> <a class="prev-next-post" href="/news">Back to News</a>

{% if page.previous.url %}
<br />
<i class="fa fa-angle-double-left"></i>&nbsp;
<a class="prev-next-post" href="{{ page.previous.url }}">Previous Post: {{ page.previous.title }}</a>
{% endif %}

{% if page.next.url %}
<br />
<i class="fa fa-angle-double-right"></i>&nbsp;
<a class="prev-next-post" href="{{ page.next.url }}">Next Post: {{ page.next.title }} </a>
{% endif %}

</ul>