/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

.italic { font-style: italic; }


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    background-image: $background-image;
    background-attachment:fixed;
    -webkit-text-size-adjust: 100%;

    /*
  border-image-width: 200px;
  border-width: 200px 0 0 0;
  border-image: url(http://steveamandagetmarried.info/images/trim/leaves1.png) 57 space;
    border-image-slice: 50% fill;
    border-image-outset: 70px;
   */


/*
    background: $background-image, radial-gradient(#CCC 35%, #888 65%) no-repeat 1px center;

    background: $background-image center center no-repeat; // fallback

    background: $background-image center center no-repeat, -moz-linear-gradient(top, white, black); // FF 3.6+
    background: $background-image center center no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(white), to(black)); // Safari 4+, Chrome 2+
    background: $background-image center center no-repeat, -webkit-linear-gradient(top, white, black); // Safari 5.1+, Chrome 10+
    background: $background-image center center no-repeat, -o-linear-gradient(top, white, black); // Opera 11.10
    background: $background-image center center no-repeat, linear-gradient(to bottom, white, black); // Standard, IE10
*/
}

h1 {
    font-family: $header-font-family;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
a > img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h3 {
    color: #CCC;
}


/**
 * Links
 */
a {
    color: $nav-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

.brand-color { color: $brand-color; }




/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


/**
 * Clearfix
 */
%clearfix {
 &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

ul.contact-list a,
ul.contact-list a:visited {
    color: black;
}