.clearfix { @extend %clearfix; }

.two-fifths { max-width: 35%; }
.three-fifths { width: 60%; }
.left { float: left; }
.right { float: right; }
.margin-small { margin: 20px; }
.center { text-align: center; }

.askew {
  -ms-transform: rotate(358deg);
  -webkit-transform: rotate(358deg);
  transform: rotate(358deg);
}


/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    min-height: 60px;

    // Positioning context for the mobile navigation icon
    position: relative;
    background: rgba(88,88,88, 0.25);
    top: 15px;
    margin-bottom: 25px;
}

.site-title {
    font-size: 26px;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.home-logo {
    float: left;
    line-height: 60px;
}

.site-nav {
    float: right;
    line-height: 60px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $nav-color;
        line-height: $base-line-height;
        font-weight: 400;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $nav-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0 ($spacing-unit * 4);
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    font-weight: 600;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Postcard
 */
#postcard {
    max-width: -webkit-calc(750px - (#{$spacing-unit} * 2));
    max-width:         calc(750px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    border: 15px solid #fff; /* Fall back, not used in fiddle */
    border: 15px solid rgba(255, 255, 255, .25);
    border-radius: 15px;
    padding: $spacing_unit;

    background-color: #6B8D9F;
    background-color: rgba(0, 50, 110, 0.40);

    a { color: $brand-color; }
    .invitation {
        font-family: $header-font-family;
    }
}

/** Pane */
#postcard.pane {
    border: 2px solid #fff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 0;
    padding: $spacing_unit;

    background-color: green;
    background-color: rgba(40, 80, 25, 0.60);

    -webkit-box-shadow: 10px 10px 0px 0px #678;
    -moz-box-shadow:    10px 10px 0px 0px #678;
    box-shadow:         10px 10px 0px 0px #678;

    a { color: #DDDD99; }
    .post-meta { color: #ABC; }

    a.rss-subscribe {
        background-color: rgba(30,50,70, 0.5);
        border-radius: 10px;
        padding: 10px;
        color: #ccc;
    }
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

/**
 * Polaroid
 */
.polaroid {
  background: #FFF;
  padding: 6px;
  margin: 40px 60px;
  .inner {
    background: #333;
    padding: 7px;
    margin: 10px;
  }
  p.caption {
    color: #333;
    margin: 0;
    font-style: italic;
  }
}
